<header>
  <div id="name-title">
    <h1 id="name">{{ data.header.name }}</h1>
    <h3 id="title">{{ data.header.title }}</h3>
  </div>
  <div>
    <div>
      {% for each in data.details %}
      {% unless each.text %}{% continue %}{% endunless %}
        <span><strong>{{ strings[each.item] }}:</strong> {{ each.text }}</span>
      {% endfor %}
    </div>
    <div>
      {% for each in data.links %}
        {% unless each.text %}{% continue %}{% endunless %}
        <span><strong>{{ strings[each.item] }}:</strong> {{ each.text }}</span>
      {% endfor %}
    </div>
  </div>
</header>
