{% assign title = i18n[include.sect] %}
{% assign id = title | slugify: "latin" %}
<section id="{{ id }}">
  {% if title %}<h2>{{ title }}</h2>{% endif %}
  {% for item in data[include.sect] %}
    {% unless item.text %}{% continue %}{% endunless %}
    <p>
      <i class="{{ item.icon }}"></i>
      {% if item.url %}
        <a href="{{ item.url }}" target="_blank">{{ item.text }}</a>
      {% else %}
        <span>{{ item.text }}</span>
      {% endif %}
    </p>
  {% endfor %}
</section>
