{% if include.content %}
  <section>
    {% if include.content.title %}
      <h2>{{ include.content.title }}</h2>
    {% endif %}
    {% for item in include.content.data %}
      <p>
        <i class="{{ item.icon }}"></i>
        {% if item.url %}
          <a href="{{ item.url }}" target="_blank">{{ item.text }}</a>
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
      </p>
    {% endfor %}
  </section>
{% endif %}
