{% if include.data %}
  <section>
    {% if include.title %}<h2>{{ include.title }}</h2>{% endif %}
    {% for item in include.data %}
      {% assign id = item.name | slugify %}
      <label for="{{ id }}">
        <span>{{ item.name }}</span>
        <progress max="10" value="{{ item.level }}" id="{{ id }}"></progress>
      </label>
    {% endfor %}
  </section>
{% endif %}
