{% if include.content %}
  <section>
    {% if include.content.title %}
      <h2>{{ include.content.title }}</h2>
    {% endif %}
    {% for item in include.content.data %}
      <label for="{{ item.id }}">
        <span>{{ item.name }}</span>
        <progress
          max="10"
          value="{{ item.level }}"
          id="{{ item.id }}"></progress>
      </label>
    {% endfor %}
  </section>
{% endif %}
