{% assign title = i18n[include.sect] %}
{% assign id = title | slugify: "latin" %}
<section id="{{ id }}">
  {% if title %}<h2>{{ title }}</h2>{% endif %}
  {% for item in data[include.sect] %}
    {% assign id = item.name | slugify: "latin" %}
    <label for="{{ id }}">
      <span>{{ item.name }}</span>
      <progress max="10" value="{{ item.level }}" id="{{ id }}"></progress>
    </label>
  {% endfor %}
</section>
