{%- assign title = i18n[include.sect] -%}
<section id="{{ title | slugify: "latin" }}">
  {%- if title -%}<h2>{{ title }}</h2>{%- endif -%}
  {%- for each in site.data.content[include.sect] -%}
    {%- assign place = each.company.long_name | default: each.school.name -%}
    {%- assign location = each.company.location | default: each.school.location -%}
    {%- assign location = i18n[location] | default: location -%}
    {%- assign content = data[include.sect][place] -%}
    {%- assign title = content.position | default: content.course -%}
    <h3>{{ title }}</h3>
    <span class="location-period">
      <h4>{{- place }} - {% if each.remote %}{{ i18n.remote }}{% else %}{{ location }}{% endif -%}</h4>
      {%- include period.liquid start=each.period.start end=each.period.end -%}
    </span>
    {%- for line in content.long_description -%}<p>{{ line }}</p>{%- endfor -%}
    <p class="linebreak"></p>
  {%- endfor -%}
</section>
